/*
 * @Author: your name
 * @Date: 2021-12-21 10:50:14
 * @LastEditTime: 2021-12-21 13:57:26
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \manage-ui\src\app\app.component.css
 */
